<div class="row">
    <div class="col-md-offset-3 mx-auto">
        <form
            (ngSubmit)="save()"
            autocomplete="off"
            [formGroup]="form"
            #frmSubasta="ngForm"
        >
          <mat-form-field appearance="outline" class="d-block">
              <mat-label>Titutlo</mat-label>
              <input
                matInput
                type="text"
                placeholder="titulo"
                formControlName="titulo"
                [value]="chatarra.titulo"
              />
      
              <mat-error *ngIf="form.controls['titulo'].hasError('required')">
                Este campo es obligatorio
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="d-block">
              <mat-label>Descripcción</mat-label>
              <input
                matInput
                type="text"
                placeholder="Descripcción"
                formControlName="description"
                [value]="chatarra.description"
              />
      
              <mat-error *ngIf="form.controls['description'].hasError('required')">
                Este campo es obligatorio
              </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="d-block">
            <mat-label>Precio Base</mat-label>
            <input
              matInput
              type="number"
              placeholder="Precio Base"
              formControlName="precioBase"
              [value]="chatarra.precioBase"
            />
    
            <mat-error *ngIf="form.controls['precioBase'].hasError('required')">
              Este campo es obligatorio
            </mat-error>
        </mat-form-field>

          <button mat-button routerLink="/vendedor" >Cancelar</button>

          <button
              mat-raised-button
              color="primary"
              type="submit"
              class="ms-2"
              [disabled]="frmSubasta.invalid"
              routerLink="/vendedor"
            >
              Guardar
          </button>
        
        </form>
    </div>
</div>
