<div class="row">
    <div class="col-md-offset-3 mx-auto">
        <form (ngSubmit)="save()" autocomplete="off" [formGroup]="form" #frmPropuesta="ngForm">

            <mat-form-field appearance="outline" class="d-block">
                <mat-label>Precio a Ofrecer</mat-label>
                <input matInput type="number" placeholder="Precio a Ofrecer" formControlName="price"/>

                <mat-error *ngIf="form.controls['price'].hasError('required')">
                    Este campo es obligatorio
                </mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-center">
                <button class="col cancel" type="button" mat-button routerLink="/Comprador-home">
                    Cancelar
                </button>

                <button  mat-raised-button type="submit" class="ms-2"
                    [disabled]="frmPropuesta.invalid">
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>