<div class="body1">
    <div class="navbar">

    </div>

    <div class="descripcion">
        <!-- <app-propuesta [propuestas]="misPropuestas" >
        </app-propuesta> -->
    </div>

    <div class="inferiror position-absolute">
        <div class="justify-content-center">
            <div class="actual row">
                <div class="price">

                </div>
                <div class="nombre">

                </div>
            </div>
            <div class="subasta mt-5 mb-4">
                <div class="titulo">
                    <!-- {{chatarra.titulo}} -->
                </div>
                <div class="mt-3">
                    <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit molestiae odit quia aliquid
                    eos magni nulla maiores? Quos, voluptatum ea. Sapiente eos fuga accusamus dolor odio. Corporis amet
                    placeat laborum? -->


                    <!-- {{chatarra.description}} -->
                </div>
            </div>
           
            <div class="row p-0 m-0">
                <div class="col-2">
                    <button class="return col-12" routerLink="/Comprador-home">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                </div>
                <div class="col-10">
                    <app-form-propuesta (onSave)="createPropuesta($event)"></app-form-propuesta>
                </div>
            </div>

        </div>
    </div>
</div>