<div class="container-fluid">
    <div class="row " style="background-color: #25a6d9;">
        <div class="col-md-6 p-2">
            <div class="text-center">
                <button class="btn btn-success col-12">Mis Subastas</button>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="text-center">
                <button class="btn btn-outline-light col-12">Subastas Actuales</button>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12 my-2 d-flex justify-content-center">
            <div class="card w-75 text-white" style="background-color: #25a6d9;" >
                <div class="card-body">
                    <h1 class="card-title">Vendedor: </h1>
                    <p class="card-text">Descripcion: </p>
                    <p class="card-text">Precio Inicial: </p>
                    <p class="card-text">Fecha de Publicación: </p>
                    <div class="text-center">
                        <a routerLink="propuesta" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>