<div class="container-fluid">
    <div class="row " style="background-color: #25a6d9;">
        <div class="col-md-6 p-2">
            <div class="text-center">
                <button class="btn btn-success col-12">Mis Subastas</button>
            </div>
        </div>
        <div class="col-md-6 p-2">
            <div class="text-center">
                <button class="btn btn-outline-light col-12">Subastas Actuales</button>
            </div>
        </div>
    </div>
    <div class="mt-5" *ngFor="let i of targets">

        <app-targets [target]="i"></app-targets>
    </div>
    <div class="mt-5" *ngFor="let i of targetsAceptados">

        <app-targets [target]="i"></app-targets>
    </div>
</div>